/* ====================================
   SNAPSPY V5 - STYLE PART 1
==================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Rajdhani',sans-serif;

background:#050505;

color:#fff;

overflow-x:hidden;

}

/* MATRIX */

#matrix{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-3;

}

/* RED GLOW */

body::before{

content:"";

position:fixed;

width:600px;

height:600px;

background:rgba(255,0,0,.10);

filter:blur(140px);

border-radius:50%;

top:-200px;

right:-200px;

animation:glowMove 8s infinite alternate;

z-index:-2;

}

@keyframes glowMove{

0%{
transform:translate(0,0);
}

100%{
transform:translate(-150px,120px);
}

}

/* HEADER */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 7%;

background:rgba(0,0,0,.70);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,0,0,.25);

position:sticky;

top:0;

z-index:999;

}

/* LOGO */

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo-circle{

width:70px;

height:70px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

background:#111;

border:2px solid #ff2020;

box-shadow:

0 0 20px #ff2020,

0 0 50px rgba(255,0,0,.4);

animation:logoPulse 2.5s infinite;

}

@keyframes logoPulse{

50%{

transform:scale(1.08);

}

}

.logo h2{

font-family:'Orbitron',sans-serif;

font-size:32px;

letter-spacing:3px;

}

.logo span{

color:#ff2020;

}

.logo p{

font-size:12px;

letter-spacing:3px;

color:#999;

}

/* NAV */

nav{

display:flex;

gap:30px;

}

nav a{

color:#fff;

text-decoration:none;

font-weight:700;

transition:.3s;

}

nav a:hover{

color:#ff2020;

text-shadow:0 0 15px red;

}