*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111;
border-bottom:1px solid #ff2020;
}

.logo{
font-size:34px;
font-weight:800;
color:#ff2020;
text-shadow:0 0 20px #ff2020;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
transition:.3s;
}

nav a:hover{
color:#ff2020;
}

.hero{
min-height:90vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
background:
radial-gradient(circle at top,#3a0000,#050505);
}

.glass{
width:100%;
max-width:520px;
padding:35px;
background:rgba(255,255,255,.06);
border:1px solid rgba(255,255,255,.1);
border-radius:25px;
backdrop-filter:blur(18px);
text-align:center;
box-shadow:0 0 40px rgba(255,0,0,.25);
}

.glass h1{
font-size:42px;
margin-bottom:15px;
}

.glass p{
color:#bbb;
margin-bottom:30px;
}

input{
width:100%;
padding:18px;
background:#151515;
border:none;
border-radius:15px;
color:white;
font-size:16px;
margin-bottom:20px;
outline:none;
}

button{
width:100%;
padding:18px;
background:#ff2020;
border:none;
border-radius:15px;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-3px);
box-shadow:0 0 25px #ff2020;
}

footer{
padding:25px;
text-align:center;
background:#111;
color:#888;
}

#loader{
position:fixed;
inset:0;
background:#000;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:9999;
}

.loader-logo{
font-size:42px;
font-weight:800;
color:#ff2020;
margin-bottom:20px;
}

.loader-bar{
width:220px;
height:8px;
background:#222;
border-radius:20px;
overflow:hidden;
}

.loader-progress{
height:100%;
width:0%;
background:#ff2020;
animation:load 2s forwards;
}

@keyframes load{
100%{
width:100%;
}
}

@media(max-width:700px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
margin:8px;
display:inline-block;
}

.glass h1{
font-size:34px;
}

}